.container-home {
    display: flex;
    /* align-items: center; */
}

.left-section p {
    color: #ff5634;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;    
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-top: 15rem;
    margin-bottom: 3rem;
}
.left-section h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    color: #121212;
    width: 70%;
}

.left-section h4 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #656565;
    line-height: 3rem;
    margin-top: 1.5rem;
    width: 60%;
}

.container-home {
    position: relative;
}
/* img */
.middle-section {
    width: 36rem;
    height: 70rem;
}

.middle-section img {
    width: 100%;
}

.middle-section {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-20%, -20%);
}

.home-link {
    display: inline-block;
    border: 1px solid #EDE;
    background-color: #ff5634;
    box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
    border-radius: 1.2rem;
    padding: 1.5rem 2.5rem;
    color: #fff;
    font-size: 18px;
    margin-top: 1.5rem;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    font-weight: bold;
}

.home-link:hover {
    background-color: #fff;
    color:#ff5634 ;
    
}

/* new section */
.context {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 9rem;
    border-top: 1px solid #CACACA;
    padding-top: 5rem;
    margin-top: 3rem;
}

.context img {
    width: 100%;
}

/* Media Query */
@media(min-width: 0) and (max-width: 350px) {
    /* .container {
            max-width: 350px;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: auto;
            margin-right: auto;
        } */

        

        .right-section {
            display: none;
        }

        .left-section p {
            font-size: 1.5rem;
            color: #ff5634;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            text-align: justify;
        }
        
        .left-section h1 {
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.5rem;
            color: #121212;
            width: 90%;
            text-align: justify;
        }
    
            .left-section h4 {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #656565;
                margin-top: 0.5rem;
                width: 50%;
            }
            .home-link {
                display: inline-block;                            
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                font-size: 12px;
                margin-top: 1rem;
                letter-spacing: 1.2px;
                transition: 0.3s all linear;
                font-weight: 400;                
            }

            /*  */
            .context {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20rem;
                height: 6rem;
                border-top: 1px solid #CACACA;
                padding-top: 2rem;
                margin-top: 2rem;
            }
            
            /*  */
            .middle-section {
                width: 20rem;
                height: 25rem;
            }
                 .middle-section img {
                width: 100%;
            }
                 .middle-section {
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translate(20%);
            }
}